$base-header: #52b4e5;
$base-dark: #2c3e50;
$base-blue: #3E92FC;
$special-blue: #47b2e4;
$base-pink: #E03B5B;
$base-orange: #FDB604;
$base-orange-dark: #ff6f00;
$gray-green: #729B79;
$gray-green-light: #7fb387;
$base-gray: #abb1bf;
$blue-gray: #f3f5fa;
